<a href="https://colab.research.google.com/github/ramapriyakp/Portfolio/blob/master/NLP/Movie_Recommender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Movie Recommendations with Document Similarity

Recommender systems are one of the popular and most adopted applications of machine learning. They are typically used to recommend entities to users and these entites can be anything like products, movies, services and so on.

Popular examples of recommendations include,


*   Amazon suggesting products on its website
*   Amazon Prime, Netflix, Hotstar recommending movies\shows
*   YouTube recommending videos to watch

Typically recommender systems can be implemented in three ways:

*   **Simple Rule-based Recommenders**: Typically based on specific global metrics and thresholds like movie popularity, global ratings etc.
*  **Content-based Recommenders**: This is based on providing similar entities based on a specific entity of interest. Content metadata can be used here like movie descriptions, genre, cast, director and so on
*   **Collaborative filtering Recommenders**: Here we don't need metadata but we try to predict recommendations and ratings based on past ratings of different users and specific items.

<p>
We will be building a movie recommendation system here where based on data\metadata pertaining to different movies, we try and recommend similar movies of interest!</p>

Since our focus in not really recommendation engines but NLP, we will be leveraging the text-based metadata for each movie to try and recommend similar movies based on specific movies of interest. This falls under content-based recommenders.

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
cd /content/drive/My Drive/NLP

/content/drive/My Drive/NLP

## Load Dataset

In [0]:
#!wget https://github.com/dipanjanS/nlp_workshop_dhs18/blob/master/Solutions/tmdb_5000_movies.csv.gz

--2019-09-06 05:16:59--  https://github.com/dipanjanS/nlp_workshop_dhs18/blob/master/Solutions/tmdb_5000_movies.csv.gz
Resolving github.com (github.com)... 140.82.114.3
Connecting to github.com (github.com)|140.82.114.3|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘tmdb_5000_movies.csv.gz’

tmdb_5000_movies.cs     [ <=>                ]  62.68K  --.-KB/s    in 0.1s

2019-09-06 05:17:00 (490 KB/s) - ‘tmdb_5000_movies.csv.gz’ saved [64180]

In [0]:
#!gzip -d  tmdb_5000_movies.csv.gz

In [0]:
import pandas as pd

df = pd.read_csv('tmdb_5000_movies.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
budget                  4803 non-null int64
genres                  4803 non-null object
homepage                1712 non-null object
id                      4803 non-null int64
keywords                4803 non-null object
original_language       4803 non-null object
original_title          4803 non-null object
overview                4800 non-null object
popularity              4803 non-null float64
production_companies    4803 non-null object
production_countries    4803 non-null object
release_date            4802 non-null object
revenue                 4803 non-null int64
runtime                 4801 non-null float64
spoken_languages        4803 non-null object
status                  4803 non-null object
tagline                 3959 non-null object
title                   4803 non-null object
vote_average            4803 non-null float64
vote_count              4803 non-null int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.5+ KB

In [0]:
df.head(3)

      budget  ... vote_count
0  237000000  ...      11800
1  300000000  ...       4500
2  245000000  ...       4466

[3 rows x 20 columns]

In [0]:
df = df[['title', 'tagline', 'overview', 'genres', 'popularity']]
df.tagline.fillna('', inplace=True)
df['description'] = df['tagline'].map(str) + ' ' + df['overview']
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4800 entries, 0 to 4802
Data columns (total 6 columns):
title          4800 non-null object
tagline        4800 non-null object
overview       4800 non-null object
genres         4800 non-null object
popularity     4800 non-null float64
description    4800 non-null object
dtypes: float64(1), object(5)
memory usage: 262.5+ KB

In [0]:
df.head()

                                      title  ...                                        description
0                                    Avatar  ...  Enter the World of Pandora. In the 22nd centur...
1  Pirates of the Caribbean: At World's End  ...  At the end of the world, the adventure begins....
2                                   Spectre  ...  A Plan No One Escapes A cryptic message from B...
3                     The Dark Knight Rises  ...  The Legend Ends Following the death of Distric...
4                               John Carter  ...  Lost in our world, found in another. John Cart...

[5 rows x 6 columns]

## Your Turn: Build a Movie Recommender System
Here you will build your own movie recommender system. We will use the following pipeline:


*   Text pre-processing
*   Feature Engineering
*   Document Similarity Computation
*   Find top similar movies
*   Build a movie recommendation function

##Document Similarity

Recommendations are about understanding the underlying features which make us favour one choice over the other. Similarity between items(in this case movies) is one way to understanding why we choose one movie over another. There are different ways to calculate similarity between two items. One of the most widely used measures is cosine similarity which we have already used in the previous unit.

##Cosine Similarity

Cosine Similarity is used to calculate a numeric score to denote the similarity between two text documents.<br>
![coine](https://render.githubusercontent.com/render/math?math=cosine%28x%2Cy%29%20%3D%20%5Cfrac%7Bx.%20y%5E%5Cintercal%7D%7B%7C%7Cx%7C%7C.%7C%7Cy%7C%7C%7D&mode=display)

In [0]:
import nltk
nltk.data.path.append('/content/drive/My Drive/NLP')
nltk.download('stopwords')
stop_words = nltk.corpus.stopwords.words('english')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

##Text pre-processing

We will do some basic text pre-processing on our movie descriptions before we build our features

In [0]:

import re
import numpy as np

stop_words = nltk.corpus.stopwords.words('english')

def normalize_document(doc):
    # lower case and remove special characters\whitespaces
    doc = re.sub(r'[^a-zA-Z0-9\s]', '', doc, re.I|re.A)
    doc = doc.lower()
    doc = doc.strip()
    # tokenize document
    tokens = nltk.word_tokenize(doc)
    # filter stopwords out of document
    filtered_tokens = [token for token in tokens if token not in stop_words]
    # re-create document from filtered tokens
    doc = ' '.join(filtered_tokens)
    return doc

  
normalize_corpus = np.vectorize(normalize_document)

norm_corpus = normalize_corpus(list(df['overview']))
len(norm_corpus)

4800

## Extract TF-IDF Features

In [0]:
from sklearn.feature_extraction.text import TfidfVectorizer

tf = TfidfVectorizer(ngram_range=(1, 2), min_df=2,stop_words='english')
tfidf_matrix = tf.fit_transform(df['description'])
tfidf_matrix.shape

(4800, 19029)

## Compute Pairwise Document Similarity
The similarity between
two documents is a
function of the angle
between their vectors in
the term vector space.

In [0]:
from sklearn.metrics.pairwise import cosine_similarity

doc_sim = cosine_similarity(tfidf_matrix)
doc_sim_df = pd.DataFrame(doc_sim)
doc_sim_df.head()

       0         1     2         3     ...  4796      4797      4798      4799
0  1.000000  0.010900   0.0  0.017381  ...   0.0  0.006380  0.000000  0.000000
1  0.010900  1.000000   0.0  0.000000  ...   0.0  0.024862  0.014993  0.000000
2  0.000000  0.000000   1.0  0.000000  ...   0.0  0.013308  0.000000  0.000000
3  0.017381  0.000000   0.0  1.000000  ...   0.0  0.027134  0.034467  0.028035
4  0.014895  0.046851   0.0  0.008594  ...   0.0  0.023291  0.000000  0.000000

[5 rows x 4800 columns]

## Get List of Movie Titles

In [0]:
movies_list = df['title'].values
movies_list, movies_list.shape

(array(['Avatar', "Pirates of the Caribbean: At World's End", 'Spectre',
        ..., 'Signed, Sealed, Delivered', 'Shanghai Calling',
        'My Date with Drew'], dtype=object), (4800,))

## Sort Dataset by Popular Movies

In [0]:
pop_movies = df.sort_values(by='popularity', ascending=False)
pop_movies.head(10)

                                                 title  ...                                        description
546                                            Minions  ...  Before Gru, they had a history of bad bosses M...
95                                        Interstellar  ...  Mankind was born on Earth. It was never meant ...
788                                           Deadpool  ...  Witness the beginning of a happy ending Deadpo...
94                             Guardians of the Galaxy  ...  All heroes start somewhere. Light years from E...
127                                 Mad Max: Fury Road  ...  What a Lovely Day. An apocalyptic story set in...
28                                      Jurassic World  ...  The park is open. Twenty-two years after the e...
199  Pirates of the Caribbean: The Curse of the Bla...  ...  Prepare to be blown out of the water. Jack Spa...
82                      Dawn of the Planet of the Apes  ...  One last chance for peace. A group of scientis...
200              The Hunger Games: Mockingjay - Part 1  ...  Fire burns brighter in the darkness Katniss Ev...
88                                          Big Hero 6  ...  From the creators of Wreck-it Ralph and Frozen...

[10 rows x 6 columns]

## Find Top Similar Movies for a Sample Movie

Let's take **Minions** the most popular movie the the dataframe above and try and find the most similar movies which can be recommended

###Find movie ID

In [0]:
movie_idx = np.where(movies_list == 'Minions')[0][0]
movie_idx

546

###Get movie similarities

In [0]:
movie_similarities = doc_sim_df.iloc[movie_idx].values
movie_similarities

array([0.00980645, 0.01171429, 0.        , ..., 0.00685701, 0.        ,
       0.        ])

###Get top 5 similar movie IDs

In [0]:
similar_movie_idxs = np.argsort(-movie_similarities)[1:6]
similar_movie_idxs

array([ 506,  614, 3943,  221, 2511])

###Get top 5 similar movies

In [0]:
similar_movies = movies_list[similar_movie_idxs]
similar_movies

array(['Despicable Me 2', 'Despicable Me', 'Freeway', 'Stuart Little 2',
       'Home Alone'], dtype=object)

##Build a movie recommender function to recommend top 5 similar movies for any movie

The movie title, movie title list and document similarity matrix dataframe will be given as inputs to the function

In [0]:
def movie_recommender(movie_title, movies=movies_list, doc_sims=doc_sim_df):
    # find movie id
    movie_idx = np.where(movies == movie_title)[0][0]
    # get movie similarities
    movie_similarities = doc_sims.iloc[movie_idx].values
    # get top 5 similar movie IDs
    similar_movie_idxs = np.argsort(-movie_similarities)[1:6]
    # get top 5 movies
    similar_movies = movies[similar_movie_idxs]
    # return the top 5 movies
    return similar_movies

##Now use this function on the top 20 popular movies

Hint:  get first 20 titles from the popular_movies dataframe

In [0]:
popular_movies = pop_movies['title'].values[:20]

In [0]:
for movie in popular_movies:
    print('Movie:', movie)
    print('Top 5 recommended Movies:', movie_recommender(movie_title=movie))
    print()

Movie: Minions
Top 5 recommended Movies: ['Despicable Me 2' 'Despicable Me' 'Freeway' 'Stuart Little 2'
 'Home Alone']

Movie: Interstellar
Top 5 recommended Movies: ['Gattaca' 'Space Pirate Captain Harlock' 'Space Cowboys'
 'Final Destination 2' 'Starship Troopers']

Movie: Deadpool
Top 5 recommended Movies: ['Don Jon' 'Shaft' 'Mars Attacks!' 'Bronson' 'Underworld: Evolution']

Movie: Guardians of the Galaxy
Top 5 recommended Movies: ['Krull' 'E.T. the Extra-Terrestrial' 'American Sniper' 'Due Date'
 'Space Battleship Yamato']

Movie: Mad Max: Fury Road
Top 5 recommended Movies: ['Star Trek Beyond' 'The 6th Day' 'Kites' 'The Notebook'
 'Killing Them Softly']

Movie: Jurassic World
Top 5 recommended Movies: ['The Lost World: Jurassic Park' 'Jurassic Park' 'The Nut Job'
 "National Lampoon's Vacation" 'Vacation']

Movie: Pirates of the Caribbean: The Curse of the Black Pearl
Top 5 recommended Movies: ["Pirates of the Caribbean: Dead Man's Chest" 'The Pirate'
 'Pirates of the Caribbean: On Stranger Tides'
 'The Pirates! In an Adventure with Scientists!' 'The New World']

Movie: Dawn of the Planet of the Apes
Top 5 recommended Movies: ['Battle for the Planet of the Apes' 'Groove' 'The Other End of the Line'
 'Crank: High Voltage' 'Conquest of the Planet of the Apes']

Movie: The Hunger Games: Mockingjay - Part 1
Top 5 recommended Movies: ['The Hunger Games: Catching Fire' 'The Hunger Games: Mockingjay - Part 2'
 'For Greater Glory - The True Story of Cristiada' 'The Proposition'
 'Circumstance']

Movie: Big Hero 6
Top 5 recommended Movies: ['Phat Girlz' 'Wreck-It Ralph' 'Bandslam' 'A Home at the End of the World'
 'The Stepford Wives']

Movie: Terminator Genisys
Top 5 recommended Movies: ['Terminator 2: Judgment Day' 'Terminator 3: Rise of the Machines'
 'Terminator Salvation' 'X-Men: Days of Future Past' 'Sound of My Voice']

Movie: Captain America: Civil War
Top 5 recommended Movies: ['Captain America: The Winter Soldier' 'This Means War'
 'Avengers: Age of Ultron' 'Escape from Tomorrow' 'Iron Man 2']

Movie: Whiplash
Top 5 recommended Movies: ['An American in Hollywood' 'R100' 'Grace Unplugged' 'Drumline'
 'Kung Fu Jungle']

Movie: The Dark Knight
Top 5 recommended Movies: ['The Dark Knight Rises' 'Batman Forever' 'Batman Returns'
 'Batman: The Dark Knight Returns, Part 2' 'Batman']

Movie: The Martian
Top 5 recommended Movies: ['The Last Days on Mars' 'Alive' 'All Is Lost' 'Brothers'
 'Escape from Planet Earth']

Movie: Inception
Top 5 recommended Movies: ['Renaissance' 'Cypher' 'Closer to the Moon' 'Lone Star' 'Pitch Perfect 2']

Movie: Frozen
Top 5 recommended Movies: ['Serendipity' "Winter's Tale" 'Lars and the Real Girl' 'Housefull'
 'Leap Year']

Movie: Batman v Superman: Dawn of Justice
Top 5 recommended Movies: ['Defendor' 'Batman' 'Batman: The Dark Knight Returns, Part 2'
 'Batman Returns' 'The Dark Knight Rises']

Movie: Avatar
Top 5 recommended Movies: ['The Inhabited Island' 'The Matrix' 'Tears of the Sun' 'Apollo 18'
 'Green Zone']

Movie: Fight Club
Top 5 recommended Movies: ['Raging Bull' 'UHF' 'Never Back Down' "What's Eating Gilbert Grape"
 'Unleashed']